<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Boggle</title>
</head>

<body>
  <div id="boggle">
    <table class="board">
      <tbody>
        {% for row in board %}
        <tr>
          {% for cell in row %}
          <td>
            {{ cell }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h3> High Score:
      <b> {{ highscore }} </b>
      in {{ numplays }} plays
    </h3>
    <p>
      Score: <b class="score">0</b>
      Seconds Left: <b class="timer"></b>
    </p>

    <form method="POST" class="add-word">
      <input name="word" class="word" , autofocus>
      <button>Submit</button>
    </form>
    <h4 class="msg">

    </h4>

    <ul class="words">

    </ul>

  </div>
  <script src="http://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
  <script src="/static/game.js"></script>
  <script>
    let game = new BoggleGame("boggle", 60);
  </script>
</body>

</html>